#Remove this line before deploying
_____REMOVE_THIS_LINE_____=True

# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1632105197:AAEN7EmvELFeyS03Fi7sEh7wZOrZ93KOUFc"
GDRIVE_FOLDER_ID = "0ALpGcRaybct4Uk9PVA"
OWNER_ID = 1428665453
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "TRUE"
INDEX_URL = "https://td-zone.ottotv.workers.dev/0:"
USER_SESSION_STRING = ""
TELEGRAM_API = 1827530
TELEGRAM_HASH = "c99ff9cabafdcbb60c3a68e51154ea44"
USE_SERVICE_ACCOUNTS = ""
